<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Bank_demo_form</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterFormServlet</display-name>
    <servlet-name>RegisterFormServlet</servlet-name>
    <servlet-class>form.RegisterFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterFormServlet</servlet-name>
    <url-pattern>/RegisterFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginFormServlet</display-name>
    <servlet-name>LoginFormServlet</servlet-name>
    <servlet-class>form.LoginFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginFormServlet</servlet-name>
    <url-pattern>/LoginFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckBalance</display-name>
    <servlet-name>CheckBalance</servlet-name>
    <servlet-class>form.CheckBalance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckBalance</servlet-name>
    <url-pattern>/CheckBalance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepositTransactionServlet</display-name>
    <servlet-name>DepositTransactionServlet</servlet-name>
    <servlet-class>form.DepositTransactionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepositTransactionServlet</servlet-name>
    <url-pattern>/DepositTransactionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WithdrawTransactionServlet</display-name>
    <servlet-name>WithdrawTransactionServlet</servlet-name>
    <servlet-class>form.WithdrawTransactionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithdrawTransactionServlet</servlet-name>
    <url-pattern>/WithdrawTransactionServlet</url-pattern>
  </servlet-mapping>
</web-app>