body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(75, 74, 74);
    color: white;
    padding: 10px;
    text-align: center;
}

.sidebar {
    width: 20%;
    float: left;
    background-color: #f4f4f4;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar h2 {
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
}

.sidebar ul li a:hover {
    color: #007BFF;
}

.content {
    width: 75%;
    float: left;
    padding: 20px;
    background-color: #fff;
    box-sizing: border-box;
    margin-left: 5%;
}

.container{
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    scrollbar-width: none; 
}

.movie {
    margin-bottom: 20px;
}

.movie img {
    max-width: 205px;
    height: auto;
}

section{
    display: block;

}

footer {
    clear: both;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px ;
    width: 100%;
}